*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  width: calc(100vw - 5px);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link{
  width: inherit;
  text-decoration: none;
  color: inherit;
  text-align: inherit;
  padding: inherit;
  cursor: pointer;
}

.inCart{
  background-color: darkcyan;
  color: white;
}